<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous">
    </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
  <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.bundle.min.js"></script>

  <link rel="stylesheet" th:href="@{/css/auth.css}">

  <title>Register</title>
</head>

<body>
  <div class="form">
    <form action="/api/user" method="post" id="registerForm">
      <h2 class="text-center">ConnecTA - Register</h2>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" name="email" type="text" class="form-control" placeholder="your@email.com" required="required">
      </div>
      <div class="form-group">
        <label for="email">Full Name</label>
        <input id="fullName" name="fullName" type="text" class="form-control" placeholder="John Doe" required="required">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" class="form-control" placeholder="*******" required="required">
      </div>
      <div class="form-group">
        <label for="password-confirm">Confirm Password</label>
        <input id="passwordConfirm" type="password" class="form-control" placeholder="*******" required="required">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Create Account</button>
      </div>
    </form>
    <p class="text-center">Already have an account? <a href="/auth/login">Click here to login!</a></p>
  </div>

  <script type="text/javascript" th:src="@{/js/utils.js}"></script>
  <script type="text/javascript" th:src="@{/js/register.js}"></script>
</body>

</html>
