body {
  background-color: white;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

.form {
  width: 340px;
  margin: 50px auto;
  font-size: 15px;
}

.form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.form h2 {
  margin: 0 0 15px;
}

.form-control,
.btn {
  min-height: 38px;
  border-radius: 2px;
}

.btn {
  font-size: 15px;
  font-weight: bold;
}